<nav class="navbar navbar-expand-sm fixed-top navbar-light shadow-sm bg-white">
    <div class="col-2"><span style="font-size:30px;cursor:pointer" class='openbtn'>&#9776;</span></div>
    <div class="col-8 text-center"><a class="navbar-brand" routerLink="/dashboard">Dashboard</a></div>
  </nav>
  
  <nav id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn">&times;</a>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/packages" routerLinkActive="active">Packages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/details" routerLinkActive="active">Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>   
    </ul>
  </nav>