<div class="div-Login">
  <form class="form-signin border p-5 bg-white shadow rounded">
    <div class="text-center mb-4">
      Some Text
    </div>
    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""  data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-4 text-muted text-center">© 2018-2019</p>
  </form>
  <a routerLink="/dashboard" routerLinkActive="active">Goto Dashboard</a>
</div>
